  .bg-img {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(./netflix.png);
    background-size: cover !important;
background-image: fixed;

  }

  .select-btn {
    background: transparent !important;
    color: rgb(5, 5, 5);
    border: 1px solid rgb(189, 185, 185);
    border-radius: 4px;
  

  }

  .select-btn:focus {
    border: 2px solid white !important;
  }

  .sign {
    border: none !important;
    background-color: #f30814;
    color: white;
    font-weight:bold;
  }

  

  .text-section {
    height: 100%;
    margin-top: 10%;

  }

 

  .text-section>.heading {
    color: white;
    font-size: 3.7rem;
    font-weight: 800;
    text-align: center;
    line-height: 4rem;
  }


  .text-section .text {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    font-weight: 400;
    margin-top: 20%;
  }

  .custom-email-style {
    width: 440px;

  }

  .custom {
    width: 200px;
    height: 57px;
    background-color: #e50914;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
  }

  input {
    background-color: rgba(14, 14, 14, 0.4) !important;
  }

  .curve-img {
    position: absolute;
    bottom: 0;
    left: 20%;
  }

  @media screen and (max-width: 576px) {
    .logo{
      height: 50px;
      width: 120px;
      padding: 1px;
    }
    .select {
      height: 40px !important;
      width: 120px;
      margin-top: 4px;
    }
    .sign{
      margin-top: 5px;
      height: 40px !important;
    }

    .text-section>.heading {
      font-size: 2.38rem !important;
    }

    .text-section .text {
      font-size: 1rem !important;
    }

    .custom {
      width: 160px;
      height: 40px;
      background-color: #e50914;
      color: white;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 5px;
    }
  }