<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <h1 style="color: black;">Welcome to my page</h1>
    <h3 style="color: blue;">This is header section</h3>
    <ul>
        <li>
            <a id="list" href="/">Home</a>(contain table) 
        </li>
        <li>
            <a id="list" href="/about">About</a>(contain image)
        </li>
        <li>
            <a id="list" href="/contact">Contact</a>(contain contact information)
        </li>
    </ul>