* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


#header {
    h1+div {
        >h1 {
            span {
                span {
                    background: purple
                }
            }
        }
    }
}