<%- include("./partials/header.ejs") %>
<h1>Contact me:</h1>
<ul type="square">
<li><a href="">9022836184</a></li>
<li><a href="">9042854618</a></li>
<li><a href="">mahimakamatwar@gmail.com</a></li></ul>
    <h4>this is contact.ejs file</h4>
<%- include("./partials/footer.ejs") %>